{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{child.first_name}} {{child.last_name}}</title>
    <style>
        @font-face {
            font-family: "Poppins-Regular";
            src: url("{% static "Poppins-Regular.ttf" %}");
        }
        @font-face {
            font-family: "Poppins-Medium";
            src: url("{% static "Poppins-Medium.ttf" %}");
        }
        body {
            font-family: "Poppins-Regular";
            font-size: 12px;
        }
    </style>
</head>
<body>
    <h1 style="font-size: 24px; text-align: center">Záznamový arch</h1>
    <table style="font-size: 16px">
        <tr>
            <td colspan="3">Jméno a příjmení: {{child.first_name}} {{child.last_name}}</td>
            <td colspan="4" style="text-align: right">Datum narození: {{child.birthdate | date:"d. m. Y"}}</td>
        </tr>
        <tr>
            <td colspan="7">Učitelé: {{teachers}}</td>
        </tr>
    </table>

    <table style="border: 1px solid darkgray; padding: 6px 3px 2px 3px">
        <tr style="background-color: #9b9c9f; color: white">
            <th>Datum</th>
            <th colspan="2">Pedagog</th>
            <th colspan="5">Poznámka</th>
        </tr>
        {% for note in child.notes.all %}
            {% if forloop.counter|divisibleby:2 %}
                <tr style="padding-top: 4px; background-color: #f3f3f3">
                    <td>{{note.created_at | date:"d. m. Y"}}</td>
                    <td colspan="2">{{note.created_by.first_name}}
                        {{note.created_by.last_name}}</td>
                    <td colspan="5">{{note.note}}</td>
                </tr>
            {% else %}
                <tr style="padding-top: 4px">
                    <td>{{note.created_at | date:"d. m. Y"}}</td>
                    <td colspan="2">{{note.created_by.first_name}}
                        {{note.created_by.last_name}}</td>
                    <td colspan="5">{{note.note}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <pdf:nextpage>
    {% for category, subcategories in tasks.items %}
        {% with forloop.counter as catId %}
        {% for subcategory, tasks in subcategories.items %}
            {% if forloop.counter == 1 %}
                <table>
                    <tr></tr>
                    <tr></tr>
                    <tr>{{"a"|add:catId}}
                        <td colspan="4"><img src="{% static "icons/" %}{{catId}}.png" style="width: 64px" alt=""></td>
                        <td></td>
                        <td colspan="43">
                            <div style="font-size: 16px; font-family: 'Poppins-Medium'">{{category}}</div>
                            <div style="font-size: 12px; font-family: 'Poppins-Medium'">{{subcategory}}</div>
                        </td>
                    </tr>
                </table>
            {% else %}
                <table>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td colspan="48">
                            <div style="font-size: 12px; font-family: 'Poppins-Medium'">{{subcategory}}</div>
                        </td>
                    </tr>
                </table>
            {% endif %}
            <table style="border: 1px solid darkgray; background-color: #ececed; padding: 6px
            3px 2px 3px">
                <tr style="text-align: center; background-color: #9b9c9f; color: white">
                    <th colspan="2">ÚKOL</th>
                    <th colspan="8">ZADÁNÍ</th>
                    <th colspan="2">VĚK</th>
                    {% with tasks.headers|length as len %}
                        {% for header in tasks.headers %}
                            <th colspan="{% widthratio 12 len 1%}">{{header | upper}}</th>
                        {% endfor %}
                    {% endwith %}
                </tr>
            {% for label, task in tasks.items %}
                {% if label != "headers"%}
                    <tr {% if task.codename|first == "" %} style="background-color: white"
                    {% endif %}>
                        <td colspan="2">
                            {% for line in task.codename %}
                                <div>{{line}}</div>
                            {% endfor %}
                        </td>
                        <td colspan="8">{{task.data.task_description}}</td>
                        <td colspan="2" style="text-align: center">
                            {% if task.data.expected_age_from != 0%}
                                {% if task.data.expected_age_to == 8 %}
                                    {{task.data.expected_age_from | floatformat}}
                                {% else %}
                                    {{task.data.expected_age_from | floatformat}}-{{task.data.expected_age_to | floatformat}}
                                {% endif %}
                            {% endif %}
                        </td>
                        {% for option in task.options.values%}
                            {% with tasks.headers|length as len %}
                                <td colspan="{% widthratio 12 len 1 %}">
                                    {% for opt in option %}
                                        <div>{{opt}} </div>
                                    {% endfor %}
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %} {# endfor options #}
            </table>
        {% endfor %} {# endfor subcategory #}
        {% endwith %} {# endwith catId #}
    {% endfor %} {# endfor category #}
    </pdf:nextpage>
</body>
</html>
