{% load static %}

<!DOCTYPE html>
<head>
    <style>
        @font-face {
            font-family: "Poppins";
            src: url("{% static "/Poppins-Regular.ttf"%}");
        }
    </style>
    <meta charset="UTF-8">
    <title>Faktura {{invoice.serial_number}}</title>
</head>
<body>
    <table style="white-space: nowrap; font-family: 'Poppins'">
        <tr style="font-size: 1.75em">
            <td colspan="3" ><b>FAKTURA - daňový doklad č.</b></td>
            <td colspan="4" style="text-align: right; "><b>{{invoice.serial_number}}</b></td>
        </tr>
        <tr style="padding-top: -10px">
            <td colspan="7"><hr></td>
        </tr>
        <tr style="padding-top: 5px">
            <td colspan="2" rowspan="2"><img src="{% static "/kufr-logo.png" %}" width="180" alt=""></td>
            <td colspan="5" style="font-size: 14px"><b>{{parameters.luzanky_title}}</b></td>
        </tr>
        <tr style="padding-top: 5px">
            <td>{{parameters.luzanky_address_street}}</td>
            <td>{{parameters.luzanky_address_city_psc}}</td>
            <td> </td>
            <td colspan="2">Tel.: {{parameters.luzanky_tel}}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>IČ: {{parameters.luzanky_ic}}</td>
            <td>DIČ: CZ{{parameters.luzanky_ic}}</td>
            <td> </td>
            <td colspan="2">{{parameters.luzanky_web}}</td>
        </tr>
        <tr style="padding-top: 10px">
            <td><b>Datum</b></td>
            <td></td>
            <td><b>Symboly</b></td>
            <td></td>
            <td colspan="3"><b>Odběratel</b></td>
        </tr>
        <tr>
            <td>Vystavení:</td>
            <td>{{invoice.created_at | date:"d.m.Y"}}</td>
            <td><b>Variabilní:</b></td>
            <td>{{invoice.serial_number}}</td>
            <td colspan="3"><b>{{invoice.school.name}}</b></td>
        </tr>
        <tr>
            <td><b>Splatnosti:</b></td>
            <td>{{invoice.due_date | date:"d.m.Y"}}</td>
        </tr>
        <tr>
            <td>Zd. plnění:</td>
            <td>{{invoice.created_at | date:"d.m.Y"}}</td>
            <td></td>
            <td></td>
            <td colspan="3">{{invoice.school.address|linebreaks}}</td>
        </tr>
        <tr>
            <td colspan="4"><b>Objednávka</b></td>
            <td>IČ: {{invoice.school.cin}}</td>
            <td>DIČ: {{invoice.school.din}}</td>
        </tr>
        <tr>
            <td>Zp. platby:</td>
            <td colspan="2">Bankovním převodem</td>
        </tr>
        <tr style="padding-top: 5px">
            <td colspan="7">Bankovní účet pro platbu faktury</td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: aliceblue; font-size: 14px; text-align: center; padding: 4px 0 -2px"><b>{{parameters.luzanky_bank_account}}</b></td>
        </tr>
        <tr style="padding-top: 10px">
            <td colspan="7"><hr></td>
        </tr>
        <tr style="padding-bottom: 10px">
            <td colspan="7">{{invoice.note}}</td>
        </tr>
        <tr style="background-color: aliceblue; padding-top: 5px; font-size: 12px">
            <td colspan="2"><b>Označení dodávky</b></td>
            <td style="text-align: center"><b>Počet MJ</b></td>
            <td style="text-align: right"><b>Cena za MJ</b></td>
            <td style="text-align: right"><b>Sazba</b></td>
            <td style="text-align: right"><b>Základ</b></td>
            <td style="text-align: right"><b>Celkem s DPH</b></td>
        </tr>
        {% for item in invoice.items.all %}
            {% if forloop.counter|divisibleby:2 %}
                <tr style="padding-top: 4px; background-color: #f3f3f3">
                    <td colspan="2">{{item.title}}</td>
                    <td style="text-align: center">{{item.amount}}</td>
                    <td style="text-align: right">{{item.unit_price}}</td>
                    <td style="text-align: right">{% widthratio item.vat_rate 1 100 %} %</td>
                    <td style="text-align: right">{{item.base_price}}</td>
                    <td style="text-align: right">{{item.total_price}} Kč</td>
                </tr>
            {% else %}
                <tr style="padding-top: 4px">
                    <td colspan="2">{{item.title}}</td>
                    <td style="text-align: center">{{item.amount}}</td>
                    <td style="text-align: right">{{item.unit_price}}</td>
                    <td style="text-align: right">{% widthratio item.vat_rate 1 100 %} %</td>
                    <td style="text-align: right">{{item.base_price}}</td>
                    <td style="text-align: right">{{item.total_price}} Kč</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr></tr>
        <tr style="font-size: 16px">
            <td colspan="4"></td>
            <td colspan="2" style="padding-bottom: -5px"><b>Celková částka k úhradě</b></td>
            <td colspan="1" style="text-align: right; padding: 4px 0 -2px; background-color: aliceblue"><b>{{invoice.total_price}} Kč</b></td>
        </tr>
        <tr></tr>
        <tr style="padding: 2px 2px 0 0">
            <td style="text-align: right; border-top: solid black 1px; border-left: solid black 1px"><b>Sazba DPH</b></td>
            <td style="text-align: right; border-top: solid black 1px"><b>Základ</b></td>
            <td style="text-align: right; border-top: solid black 1px"><b>Výše DPH</b></td>
            <td style="text-align: right; border-top: solid black 1px; border-right: solid black 1px"><b>Celkem</b></td>
        </tr>
        <tr style="padding: 0 2px 0 0">
            <td style="text-align: right; border-left: solid black 1px">{% widthratio parameters.vat_rate 1 100 %} %</td>
            <td style="text-align: right">{{invoice.base_price}}</td>
            <td style="text-align: right">{{invoice.total_vat}}</td>
            <td style="text-align: right; border-right: solid black 1px">{{invoice.total_price}}</td>
        </tr>
        <tr style="padding: 0 2px 2px 0">
            <td style="text-align: right; border-left: solid black 1px; border-bottom: solid black 1px;"><b>CELKEM</b></td>
            <td style="text-align: right; border-bottom: solid black 1px"><b>{{invoice.base_price}}</b></td>
            <td style="text-align: right; border-bottom: solid black 1px"><b>{{invoice.total_vat}}</b></td>
            <td style="text-align: right; border-right: solid black 1px; border-bottom: solid black 1px"><b>{{invoice.total_price}}</b></td>
        </tr>
        <tr style="padding-top: 5px">
            <td></td>
            <td colspan="3" style="text-align: right">Rozpis DPH uveden v měně CZK</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="7" style="white-space: normal">{{parameters.luzanky_description}}</td>
        </tr>
        <tr style="padding-top: 100%">
            <td colspan="7">Fakturu vystavil(a): {{parameters.invoice_issued_by}}</td>
        </tr>
    </table>
</body>
</html>
