<style>
    @font-face {
        font-family: Poppins-Regular;
        src: url("/server/static/Poppins-Regular.ttf");
    }
</style>

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Faktura {{invoice.serial_number}}</title>
</head>
<body>
    <table style="white-space: nowrap">
        <tr>
            <td colspan="2" style="font-size: 16px"><b>FAKTURA - daňový doklad č.</b></td>
            <td colspan="5" style="text-align: right; "><b>{{invoice.serial_number}}</b></td>
        </tr>
        <tr>
            <td colspan="7"><hr></td>
        </tr>
        <tr>
            <td colspan="2"><!-- logo --></td>
            <td colspan="5"><b>{{parameters.luzanky_title}}</b></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>{{parameters.luzanky_address}}</td>
            <td colspan="3" style="text-align: right">Tel.: {{parameters.luzanky_tel}}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>IČ: {{parameters.luzanky_ic}}</td>
            <td>DIČ: CZ{{parameters.luzanky_ic}}</td>
            <td colspan="2" style="text-align: right">{{parameters.luzanky_web}}</td>
        </tr>
        <tr>
            <td><b>Datum</b></td>
            <td></td>
            <td><b>Symboly</b></td>
            <td></td>
            <td colspan="3"><b>Odběratel</b></td>
        </tr>
        <tr>
            <td>Vystavení:</td>
            <td>{{invoice.created_at | date:"d.m.Y"}}</td>
            <td><b>Variabilní:</b></td>
            <td>{{invoice.serial_number}}</td>
            <td colspan="3"><b>{{invoice.school.name}}</b></td>
        </tr>
        <tr>
            <td><b>Splatnosti:</b></td>
            <td>{{invoice.due_date | date:"d.m.Y"}}</td>
        </tr>
        <tr>
            <td>Zd. plnění:</td>
            <td>{{invoice.created_at | date:"d.m.Y"}}</td>
            <td></td>
            <td></td>
            <td>{{invoice.school.address}}</td>
        </tr>
        <tr>
            <td><b>Objednávka</b></td>
            <td>IČ:</td>
            <td>{{invoice.school.cin}}</td>
        </tr>
        <tr>
            <td>Zp. platby:</td>
            <td>Bankovním převodem</td>
        </tr>
        <tr>
            <td colspan="7">Bankovní účet pro platbu faktury</td>
        </tr>
        <tr>
            <td>{{parameters.luzanky_bank_account}}</td>
        </tr>
        <tr>
            <td colspan="7"><hr></td>
        </tr>
        <tr>
            <td colspan="7">{{invoice.note}}</td>
        </tr>
        <tr>
            <td colspan="2">Označení dodávky</td>
            <td>Počet MJ</td>
            <td>Cena za MJ</td>
            <td>Sazba</td>
            <td>Základ</td>
            <td>Celkem s DPH</td>
        </tr>
        {% for item in invoice.items.all %}
        <tr>
            <td colspan="2">{{item.title}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.unit_price}}</td>
            <td>{% widthratio item.vat_rate 1 100 %} %</td>
            <td>{{item.base_price}}</td>
            <td style="text-align: right">{{item.total_price}} Kč</td>
        </tr>
        {% endfor %}
        <tr style="font-size: 16px">
            <td colspan="3"></td>
            <td colspan="2">Celková částka k úhradě</td>
            <td colspan="2" style="text-align: right">{{invoice.total_price}} Kč</td>
        </tr>
        <tr>
            <td>Sazba DPH</td>
            <td>Základ</td>
            <td>Výše DPH</td>
            <td>Celkem</td>
        </tr>
        <tr>
            <td>{% widthratio parameters.vat_rate 1 100 %} %</td>
            <td>{{invoice.base_price}}</td>
            <td>{{invoice.total_vat}}</td>
            <td>{{invoice.total_price}}</td>
        </tr>
        <tr>
            <td>CELKEM</td>
            <td>{{invoice.base_price}}</td>
            <td>{{invoice.total_vat}}</td>
            <td>{{invoice.total_price}}</td>
        </tr>
        <tr>
            <td>Rozpis DPH uveden v měně CZK</td>
            <td style="border-bottom: 1px solid black"></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" style="white-space: normal">{{parameters.luzanky_description}}</td>
        </tr>
        <tr>
            <td colspan="2">Fakturu vystavil(a): {{parameters.invoice_issued_by}}</td>
            <td colspan="3" style="text-align: center"><a href="https://www.luzanky.cz">www.luzanky.cz</a></td>
            <td colspan="2" style="text-align: right">Vytiskl(a): [TODO]</td>
        </tr>
    </table>
</body>
</html>
